@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
*:not(i), *:not(i)::before, *:not(i)::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}

::-moz-selection {
  background: #1a1aff;
  color: black;
}

::selection {
  background: #1a1aff;
  color: black;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* =============================================================================
   Forms
   via https://gist.github.com/alucidbeing/3695908
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.color-bg_color_dark {
  color: #2e3e64;
}

.color-listed {
  color: #a8d451;
}

.color-draft {
  color: #ec5655;
}

.color-unlisted {
  color: #64a1de;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-50 {
  opacity: 0.5;
}

.bg-white {
  background-color: white;
}

.bg-white-hover:hover {
  background-color: white;
  transition: background-color 0.3s ease;
}

.no-u {
  text-decoration: none !important;
}

.u-hover {
  text-decoration: none;
}

.u-hover:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: none;
}

.border-red {
  border: 1px solid red !important;
}

.hover-white-soft-bg:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black !important;
}

.outlined-page_bg_color {
  text-shadow: -1px -1px 0 #ced8eb, 1px -1px 0 #ced8eb, -1px 1px 0 #ced8eb, 1px 1px 0 #ced8eb;
}

.space-large {
  height: 110px;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-VariableFont_opsz-wght.ttf") format("truetype");
  font-weight: 100 900;
  /* Range supported by the variable font */
  font-style: normal;
  font-display: swap;
}

.font-ser-xl {
  font-family: "Crimson Pro", serif;
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .font-ser-xl {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .font-ser-xl {
    font-size: 44px;
  }
}

@media (min-width: 992px) {
  .font-ser-xl {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .font-ser-xl {
    font-size: 44px;
  }
}

.font-ser-l {
  font-family: "Crimson Pro", serif;
  font-size: 21px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .font-ser-l {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .font-ser-l {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .font-ser-l {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .font-ser-l {
    font-size: 30px;
  }
}

.font-ser-m {
  font-family: "Crimson Pro", serif;
  font-size: 21px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .font-ser-m {
    font-size: 21px;
  }
}

@media (min-width: 768px) {
  .font-ser-m {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .font-ser-m {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .font-ser-m {
    font-size: 24px;
  }
}

.font-sans-m {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .font-sans-m {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .font-sans-m {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .font-sans-m {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .font-sans-m {
    font-size: 20px;
  }
}

.font-sans-s {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .font-sans-s {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .font-sans-s {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .font-sans-s {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .font-sans-s {
    font-size: 14px;
  }
}

.font-sans-xs {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .font-sans-xs {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .font-sans-xs {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  .font-sans-xs {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  .font-sans-xs {
    font-size: 11px;
  }
}

.font-style-label {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 576px) {
  .font-style-label {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .font-style-label {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .font-style-label {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .font-style-label {
    font-size: 20px;
  }
}

h1 {
  font-family: "Crimson Pro", serif;
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
  font-weight: 400;
}

@media (min-width: 576px) {
  h1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 44px;
  }
}

h2 {
  font-family: "Crimson Pro", serif;
  font-size: 21px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
  font-weight: 700;
}

@media (min-width: 576px) {
  h3 {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 600;
}

@media (min-width: 576px) {
  h4 {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  h4 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 20px;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 60px;
}

.block-font-sans-s,
.block-font-sans-s p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .block-font-sans-s,
  .block-font-sans-s p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .block-font-sans-s,
  .block-font-sans-s p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .block-font-sans-s,
  .block-font-sans-s p {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .block-font-sans-s,
  .block-font-sans-s p {
    font-size: 14px;
  }
}

.block-font-sans-m,
.block-font-sans-m p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .block-font-sans-m,
  .block-font-sans-m p {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .block-font-sans-m,
  .block-font-sans-m p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .block-font-sans-m,
  .block-font-sans-m p {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .block-font-sans-m,
  .block-font-sans-m p {
    font-size: 20px;
  }
}

/**
 * via https://www.w3schools.com/howto/howto_css_switch.asp
 * 
 * <label>
 *   <div class="switch small">
 *     <input type="checkbox" onchange="handleSwitchChange(this);">
 *     <span class="slider round"></span>
 *   </div>
 *   <span class="text">Do something</span>
 * </label>
 * 
 * function handleSwitchChange (el) {
 *   // use el.checked ...
 * }
 *
 */
label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

label .text {
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-color: #0f673f;
}

.switch input:checked + .slider::before {
  transform: translateX(21px);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round::before {
  border-radius: 50%;
}

.switch.small {
  width: 34px;
  height: 20px;
}

.switch.small input:checked + .slider::before {
  transform: translateX(14px);
}

.switch.small .slider::before {
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
}

.switch.small .slider.round {
  border-radius: 20px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 23px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 23px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 1px;
}

.hamburger--slider .hamburger-inner::before {
  top: 7px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 14px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-3.28571px, -5px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -14px, 0) rotate(-90deg);
}

* {
  text-rendering: geometricPrecision;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #ced8eb;
  color: black;
  font-family: "Inter", sans-serif;
}

body.media-open {
  overflow: hidden;
}

body[data-template="home"] main {
  background: linear-gradient(to bottom, white 0px, #ced8eb 220px);
}

main {
  padding-top: 70px;
}

main.tall-menu {
  padding-top: 105px;
}

hr {
  border-top: 1px solid black;
}

hr.bleed {
  margin-left: -30px;
  margin-right: -30px;
}

@media (max-width: 575.98px) {
  hr.bleed {
    margin-left: -15px;
    margin-right: -15px;
  }
}

p {
  margin-bottom: 0.7em;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 15%;
  text-decoration: none;
  color: #0f673f;
  transition: color 170ms;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 60px 30px;
}

ul li {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

img.cover-image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 50vh;
  border-radius: 10px;
}

.article-prev {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.article-prev .tags,
.article-prev .places {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .article-prev .tags,
  .article-prev .places {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .article-prev .tags,
  .article-prev .places {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .article-prev .tags,
  .article-prev .places {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .article-prev .tags,
  .article-prev .places {
    font-size: 14px;
  }
}

.article-prev .title-wrapper {
  padding-right: 15%;
  margin-top: 15px;
}

.article-prev .title-wrapper .title {
  text-decoration-line: none;
}

.article-prev .tags {
  text-transform: uppercase;
}

.article-prev .tags::before {
  display: inline-block;
  content: "";
  margin-right: 0.5em;
  height: 0.8em;
  width: 0.8em;
  border-radius: 0.5em;
  background-color: black;
}

.squares {
  border-top: 1px solid black;
  margin-bottom: -1px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.squares .squares-wrapper {
  left: -15px;
  position: relative;
  min-width: calc(100% + 30px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.squares .squares-wrapper .square {
  position: relative;
  width: calc(33.333% - 1px);
  min-width: calc(33.333% - 1px);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.squares .squares-wrapper .square .square-content-wrapper {
  padding-top: 100%;
  position: relative;
}

.squares .squares-wrapper .square .square-content-wrapper .bg {
  background-image: url("../images/blurred-map.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 800ms;
}

.squares .squares-wrapper .square .square-content-wrapper .svg-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.squares .squares-wrapper .square .square-content-wrapper .svg-cont svg {
  width: 100%;
  height: 100%;
}

.squares .squares-wrapper .square .square-content-wrapper .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}

.squares .squares-wrapper .square .square-content-wrapper .content.story .from-bot-l {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .from-bot-l {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .from-bot-l {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .from-bot-l {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .from-bot-l {
    font-size: 14px;
  }
}

.squares .squares-wrapper .square .square-content-wrapper .content.story .to-bot-r {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .to-bot-r {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .to-bot-r {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .to-bot-r {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .squares .squares-wrapper .square .square-content-wrapper .content.story .to-bot-r {
    font-size: 14px;
  }
}

.squares .squares-wrapper .square:hover .square-content-wrapper .bg {
  opacity: 1;
}

.badge {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 1.2em;
  font-stretch: normal;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 4px 8px;
  text-decoration: none;
}

@media (min-width: 576px) {
  .badge {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .badge {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  .badge {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  .badge {
    font-size: 11px;
  }
}

.badge:hover {
  text-decoration: none;
}

.badge.badge-primary {
  background-color: #2e3e64;
  color: white;
}

.badge.badge-primary:hover {
  background-color: black;
}

.badge.badge-secondary {
  background-color: rgba(46, 62, 100, 0.2);
  color: black;
}

.badge.badge-secondary:hover {
  background-color: rgba(46, 62, 100, 0.3);
}

.badge + .badge {
  margin-left: 3px;
}

.full-w-btn {
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  height: 70px;
  transition: background-color 170ms;
  background-color: black;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .full-w-btn {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.full-w-btn a {
  color: white;
}

.full-w-btn::before, .full-w-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  z-index: 1;
}

.full-w-btn::after {
  right: 0;
  transform: rotateZ(180deg);
}

.full-w-btn::before {
  left: 0;
}

.full-w-btn a {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration-line: none;
  white-space: nowrap;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .full-w-btn a {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .full-w-btn a {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .full-w-btn a {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .full-w-btn a {
    font-size: 14px;
  }
}

.full-w-btn:hover {
  background-color: #073e30;
}

.full-w-btn:hover a {
  color: #c6f5d2;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  border: 1px solid grey;
  cursor: pointer;
  color: grey;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration-line: none;
  border-radius: 3px;
  padding: 0 20px;
  transition: background-color 200ms, color 200ms;
}

@media (min-width: 576px) {
  .button {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .button {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .button {
    font-size: 20px;
  }
}

.button:hover, .button.active {
  background-color: grey;
  color: grey;
}

.button.small {
  height: 32px;
  width: auto;
  padding: 0 10px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .button.small {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .button.small {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .button.small {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .button.small {
    font-size: 14px;
  }
}

.button.very-small {
  height: 23px;
  width: auto;
  padding: 0 5px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.46em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  .button.very-small {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .button.very-small {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .button.very-small {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .button.very-small {
    font-size: 14px;
  }
}

.button.green-dark {
  background-color: #0f673f;
  color: white;
  border: none;
}

.button.green-dark:hover, .button.green-dark.active {
  background-color: #0c5131;
}

.button.green-dark:active {
  background-color: #052416;
}

.button.green-light {
  background-color: #0f673f;
  color: white;
  border: none;
}

.button.green-light:hover, .button.green-light.active {
  background-color: #0c5131;
}

.button.green-light:active {
  background-color: #052416;
}

.button.grey-light {
  background-color: #dddddd;
  color: black;
  border: none;
}

.button.grey-light:hover, .button.grey-light.active {
  background-color: #d0d0d0;
}

.button.grey-light:active {
  background-color: #b7b7b7;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

section.map-area {
  position: relative;
}

section.map-area #map-container {
  height: 80vh;
}

section.map-area .info {
  position: absolute;
  top: 20px;
  left: 0;
}

section.map-area .info #box-container .box-wrapper {
  position: relative;
}

section.map-area .info #box-container .box-wrapper .box {
  background-color: white;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

section.map-area .info #box-container .box-wrapper .box #close-leg-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px 13px;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

section.map-area .info #box-container .box-wrapper .box #close-leg-button:hover {
  opacity: 0.7;
}

section.map-area .info #box-container .box-wrapper .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

section.map-area .info #box-container .box-wrapper .action-buttons .button {
  flex-grow: 1;
}

.bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 1.5px;
  margin-bottom: 5px;
}

.bar .fill {
  height: 0;
  border: 0;
  border-bottom: 3px solid #0f673f;
  border-radius: 1.5px;
  overflow: hidden;
}

.double-dot {
  display: inline-block;
  position: relative;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #222;
}

.double-dot::after {
  content: "";
  display: block;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #222;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mapboxgl-popup-content {
  border-radius: 10px !important;
  padding: 3px 15px 3px !important;
}

.story-leg-info {
  z-index: 10;
}

.svg-square-container {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 300ms;
}

.svg-square-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.svg-square-container svg {
  width: 100%;
  height: 100%;
  display: block;
  /* avoid inline gaps */
}

.svg-square-container .absolute-story-info {
  position: absolute;
  color: black;
  top: 10px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

div#svg-container {
  line-height: 0;
}

div#svg-container svg#story-svg path.land-boundary {
  fill: #f9f8ff;
}

div#svg-container svg#story-svg path.leg-line {
  stroke: black;
  fill: none;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="wheels"] {
  stroke-dasharray: 2px;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="train"] {
  stroke-dasharray: 4px;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="water"] {
  stroke-dasharray: 2px 4px;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="plane"] {
  stroke-dasharray: 2px 6px;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="walking"] {
  stroke-dasharray: 4px 2px;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="mixed"] {
  stroke-dasharray: 1px 3px;
}

div#svg-container svg#story-svg path.leg-line[data-line-type="unknown"] {
  stroke-dasharray: 6px 2px;
}

div#svg-container svg#story-svg circle.leg-dot {
  stroke: white;
  stroke-width: 1px;
  fill: black;
}

nav#menu-header {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 300ms;
  padding: 0;
  background-color: #ced8eb;
}

nav#menu-header.transparent-at-top.at-top {
  background-color: transparent;
}

nav#menu-header .wrapper {
  height: 70px;
}

nav#menu-header .wrapper-subtitle {
  height: 35px;
  padding-bottom: 20px;
  position: relative;
  top: -10px;
}

nav#menu-header .items a.item {
  text-decoration-line: none;
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.16em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  nav#menu-header .items a.item {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  nav#menu-header .items a.item {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  nav#menu-header .items a.item {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  nav#menu-header .items a.item {
    font-size: 20px;
  }
}

nav#menu-header .items a.item.active, nav#menu-header .items a.item:hover {
  color: inherit;
  text-decoration-line: underline;
}

nav#menu-header a#header-low-a {
  margin-right: 3px;
}

nav#menu-header a#header-low-a:hover {
  color: grey;
  text-decoration-line: none;
}

#menu-xs {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #ced8eb;
  padding: 70px 0;
  transition: right 400ms;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

body.menu-xs-open #menu-xs {
  right: 0;
}

#menu-xs a.item {
  text-decoration-line: none;
  text-align: center;
  display: block;
  font-family: "Crimson Pro", serif;
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  #menu-xs a.item {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  #menu-xs a.item {
    font-size: 44px;
  }
}

@media (min-width: 992px) {
  #menu-xs a.item {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  #menu-xs a.item {
    font-size: 44px;
  }
}

#menu-xs a.item.small {
  font-family: "Crimson Pro", serif;
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 1.17em;
  font-stretch: normal;
}

@media (min-width: 576px) {
  #menu-xs a.item.small {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  #menu-xs a.item.small {
    font-size: 44px;
  }
}

@media (min-width: 992px) {
  #menu-xs a.item.small {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  #menu-xs a.item.small {
    font-size: 44px;
  }
}

body#story-tools {
  background-color: #ced8eb;
}

body#story-tools .structure {
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

body#story-tools .structure .left-items {
  width: 50%;
}

body#story-tools .structure .left-items .leg-item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body#story-tools .structure .left-items .leg-item textarea {
  width: 100%;
  height: 160px;
  max-width: 100%;
  font-size: 8px;
  padding-top: 35px;
  border-radius: 5px;
}

body#story-tools .structure .left-items .leg-item .buttons {
  position: absolute;
  top: 5px;
  right: 15px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body#story-tools .structure .right-mapbox-preview {
  width: 50%;
  position: relative;
}

body#story-tools .structure .right-mapbox-preview #mapbox-container {
  position: fixed;
  width: 50%;
  height: 100%;
}

body#story-tools .structure .right-mapbox-preview #mapbox-container #buttons-container {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 100%;
}

#message-container {
  z-index: 10;
  position: fixed;
  bottom: 10px;
  left: 75dvw;
  transform: translateX(-50%);
  max-width: calc(50dvw - 30px);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
  border: 2px solid white;
}

#message-container::before {
  display: inline-block;
  margin-right: 8px;
}

#message-container.visible {
  opacity: 1;
  pointer-events: auto;
}

#message-container.error {
  border: 2px solid #e7806e;
  background: #e7806e;
}

#message-container.error::before {
  content: "⚠";
}

#message-container.success {
  border: 2px solid #0f673f;
  background: #0f673f;
  color: white;
}

#message-container.success::before {
  content: "✓";
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 575.98px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-fluid.texts {
  max-width: 1100px;
}
