@charset "UTF-8";

// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
$font-ser: "Crimson Pro", serif;

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-VariableFont_opsz-wght.ttf") format("truetype");
  font-weight: 100 900; /* Range supported by the variable font */
  font-style: normal;
  font-display: swap;
}
$font-sans: "Inter", sans-serif;

@mixin font-style($font-fam, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h) {
  font-family: $font-fam;
  font-size: $xs;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  font-stretch: normal;
  @include media-breakpoint-up(sm) {
    font-size: $sm;
  }
  @include media-breakpoint-up(md) {
    font-size: $md;
  }
  @include media-breakpoint-up(lg) {
    font-size: $lg;
  }
  @include media-breakpoint-up(xl) {
    font-size: $xl;
  }
}

// -----------------------------------------------------------------------------
// Font family + size
// -----------------------------------------------------------------------------

@mixin font-ser-xl {
  @include font-style(
    $font-fam: $font-ser,
    $xs: 44px,
    $sm: 44px,
    $md: 44px,
    $lg: 44px,
    $xl: 44px,
    $letter-sp: -0.02em,
    $line-h: 1.17em
  );
}
.font-ser-xl {
  @include font-ser-xl;
}

@mixin font-ser-l {
  @include font-style(
    $font-fam: $font-ser,
    $xs: 30px,
    $sm: 30px,
    $md: 30px,
    $lg: 30px,
    $xl: 30px,
    $letter-sp: -0.02em,
    $line-h: 1.17em
  );
}
.font-ser-l {
  @include font-ser-l;
}

@mixin font-sans-s {
  @include font-style(
    $font-fam: $font-sans,
    $xs: 14px,
    $sm: 14px,
    $md: 14px,
    $lg: 14px,
    $xl: 14px,
    $letter-sp: 0,
    $line-h: 1.46em
  );
}
.font-sans-s {
  @include font-sans-s;
}

@mixin font-sans-m {
  @include font-style(
    $font-fam: $font-sans,
    $xs: 20px,
    $sm: 20px,
    $md: 20px,
    $lg: 20px,
    $xl: 20px,
    $letter-sp: 0,
    $line-h: 1.46em
  );
}
.font-sans-m {
  @include font-sans-m;
}

// -----------------------------------------------------------------------------
// Full styles
// -----------------------------------------------------------------------------

@mixin font-style-label {
  @include font-sans-m;
  text-transform: uppercase;
  font-weight: 600;
}
.font-style-label {
  @include font-style-label;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

h1 {
  @include font-ser-xl;
}
h2 {
  @include font-ser-l;
}
h3 {
  @include font-sans-m;
  font-weight: 700;
}
h4 {
  @include font-style-label;
  font-weight: 600;
}
// h5 { @include font-sans-s; }
// h6 { @include font-sans-s; }

// -----------------------------------------------------------------------------
// Block styles
// -----------------------------------------------------------------------------

.block-font-sans-s,
.block-font-sans-s p {
  @include font-sans-s;
}

.block-font-sans-m,
.block-font-sans-m p {
  @include font-sans-m;
}

// .block-sans-m,
// .block-sans-m p {
//   color: black;
//   @include font-sans-m;
// }

// .block-sans-l,
// .block-sans-l p {
//   color: black;
//   @include font-sans-l;
// }
