// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.color-white {
  color: white;
}
.color-white-50 {
  color: rgba(white, 0.5);
}
.bg-white {
  background-color: white;
}
.no-u {
  text-decoration: none;
}
.u-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: none;
}

.space-large {
  height: 110px;
}

// -----------------------------------------------------------------------------
// Font weights
// -----------------------------------------------------------------------------

.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
