// -----------------------------------------------------------------------------
// mixins
// -----------------------------------------------------------------------------

@mixin text-outline($color: black, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 #{$color},
    #{$size} -#{$size} 0 #{$color},
    -#{$size} #{$size} 0 #{$color},
    #{$size} #{$size} 0 #{$color};
}

// -----------------------------------------------------------------------------
// Color & style utilities
// -----------------------------------------------------------------------------

.color-white {
  color: white;
}
.color-white-50 {
  color: rgba(white, 0.5);
}
.color-listed {
  color: #a8d451;
}
.color-draft {
  color: #ec5655;
}
.color-unlisted {
  color: #64a1de;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-50 {
  opacity: 0.5;
}
.bg-white {
  background-color: white;
}
.bg-white-hover:hover {
  background-color: white;
  transition: background-color 0.3s ease;
}
.no-u {
  text-decoration: none;
}
.u-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: none;
}

.border-red {
  border: 1px solid red !important;
}

.hover-white-soft-bg {
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black !important;
  }
}

.outlined-mintcream {
  @include text-outline(mintcream, 1px);
}

.outlined-azzurrello {
  @include text-outline($azzurrello, 1px);
}

// -----------------------------------------------------------------------------
// Layout utilities
// -----------------------------------------------------------------------------

.space-large {
  height: 110px;
}

// -----------------------------------------------------------------------------
// Font weights
// -----------------------------------------------------------------------------

.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
