@charset "UTF-8";

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$button-h: 47px;
$button-h-s: 32px;
$menu-h: 70px;
$border-radius: 3px;
$space: 20px;

$verdino: #ecfaf3;
$verdino: mintcream;
$verde: #29a468;
$verdone: #135d4a;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------

@import "bootstrap-scss/_functions";
@import "bootstrap-scss/_variables";
@import "bootstrap-scss/mixins/_breakpoints";
@import "_reset";
@import "_utils";
@import "_typography";
@import "_switch";
@import "hamburger-settings";
@import "hamburgers/hamburgers";

// -----------------------------------------------------------------------------
// General tags & classes
// -----------------------------------------------------------------------------

* {
  // text-rendering: auto;
  // text-rendering: optimizeSpeed;
  // text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision; // OK on chrome
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: $verdino;
  color: black;
  &.media-open {
    overflow: hidden;
  }
  font-family: $font-sans;
}

main {
  margin-top: $menu-h;
  &.tall-menu {
    margin-top: 105px;
  }
}

hr {
  border-top: 1px solid black;
}

p {
  margin-bottom: 0.7em;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 15%;
  color: inherit;
  transition: color 170ms;
  &.green {
    color: $verde;
    text-decoration-line: none;
  }
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

// --- article preview

.article-prev {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  .tags,
  .places {
    @include font-sans-s;
  }
  .title-wrapper {
    padding-right: 15%;
    margin-top: 15px;
    .title {
      // color: $verde;
      text-decoration-line: none;
    }
  }
  .tags {
    text-transform: uppercase;
    &::before {
      display: inline-block;
      content: "";
      margin-right: 0.5em;
      height: 0.8em;
      width: 0.8em;
      border-radius: 0.5em;
      background-color: black;
    }
  }
}

// --- story preview

$m: 15px;
.squares {
  border-top: 1px solid black;
  margin-bottom: -1px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  // border: 1px solid red;
  .squares-wrapper {
    left: -$m;
    position: relative;
    min-width: calc(100% + #{$m * 2});
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .square {
      position: relative;
      width: calc(33.333% - 1px);
      min-width: calc(33.333% - 1px);
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      .square-content-wrapper {
        padding-top: 100%;
        position: relative;
        .bg {
          // background: grey;
          background-image: url("../images/blurred-map.jpg");
          background-size: cover;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          transition: opacity 800ms;
        }
        .svg-cont {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          // background-color: yellow;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: $m;
          &.story {
            .from-bot-l {
              position: absolute;
              bottom: $m;
              left: $m;
              @include font-sans-s;
            }
            .to-bot-r {
              position: absolute;
              bottom: $m;
              right: $m;
              @include font-sans-s;
            }
          }
          // &.article {
          //   display: flex;
          //   justify-content: space-between;
          //   flex-flow: column nowrap;
          //   .tags, .places {
          //     @include font-sans-s;
          //   }
          //   .title-wrapper {
          //     padding-right: 15%;
          //     margin-top: 15px;
          //     .title {
          //       color: $verde;
          //       text-decoration-line: none;
          //     }
          //   }
          //   .tags {
          //     text-transform: uppercase;
          //     &::before {
          //       display: inline-block;
          //       content: "";
          //       margin-right: 0.5em;
          //       height: 0.8em;
          //       width: 0.8em;
          //       border-radius: 0.5em;
          //       background-color: black;
          //     }
          //   }
          // }
        }
      }
      &:hover {
        .square-content-wrapper {
          .bg {
            opacity: 1;
          }
        }
      }
    }
  }
}

.full-w-btn {
  overflow: hidden;
  // background-color: $verdone;
  background-color: #18725b;
  color: white;
  color: #baf7ca;
  height: $menu-h;
  transition: background-color 170ms;

  // Grain
  // via https://www.fxhash.xyz/article/all-about-that-grain
  // background-image: url("data:image/svg+xml,%3Csvg id='texture' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='textureFilter' x='0' y='0' width='100%25' height='100%25'%3E%3CfeTurbulence type='turbulence' baseFrequency='1'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect x='0' y='0' width='100%25' height='100%25' filter='url(%23textureFilter)' /%3E%3C/svg%3E");
  // background-repeat: repeat repeat;
  // background-size: 128px 128px;
  // mix-blend-mode: multiply;

  a {
    @include font-sans-s;
    text-transform: uppercase;
    text-decoration-line: none;
    white-space: nowrap;
    height: $menu-h;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    background-color: #073e30;
    a {
      color: #c6f5d2;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $button-h;
  border: 1px solid grey;
  cursor: pointer;
  color: grey;
  @include font-sans-m;
  text-transform: uppercase;
  text-decoration-line: none;
  border-radius: $border-radius;
  padding: 0 $space;
  transition: background-color 200ms, color 200ms;
  &:hover,
  &.active {
    background-color: grey;
    color: grey;
  }
  &.small {
    height: $button-h-s;
    width: auto;
    padding: 0 10px;
    text-transform: none;
    @include font-sans-s;
  }
  &.green-dark {
    background-color: $verdone;
    color: white;
    border: none;
    &:hover,
    &.active {
      background-color: darken($verdone, 5%);
    }
    &:active {
      background-color: darken($verdone, 15%);
    }
  }
  &.green-light {
    background-color: $verde;
    color: white;
    border: none;
    &:hover,
    &.active {
      background-color: darken($verde, 5%);
    }
    &:active {
      background-color: darken($verde, 15%);
    }
  }
  &.grey-light {
    background-color: #dddddd;
    color: black;
    border: none;
    &:hover,
    &.active {
      background-color: darken(#dddddd, 5%);
    }
    &:active {
      background-color: darken(#dddddd, 15%);
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

// -----------------------------------------------------------------------------
// STORY MAPBOX
// -----------------------------------------------------------------------------

section.map-area {
  position: relative;
  #map-container {
    height: 80vh;
  }
  .info {
    position: absolute;
    top: 20px;
    left: 0;
    #box-container {
      .box-wrapper {
        // <-- will contain width
        position: relative;
        .box {
          // width: 300px;
          background-color: white;
          padding: 10px 15px;
          border-radius: 7px;
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          #close-leg-button {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 7px 13px;
            font-size: 22px;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        .action-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 6px;
          .button {
            flex-grow: 1;
            // width: 100%;
            // &.one-of-two {
            //   width: calc(50% - 3px);
            // }
          }
        }
      }
    }
  }
}

.bar {
  $bh: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $bh;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: $bh / 2;
  margin-bottom: 5px;
  .fill {
    height: 0;
    border: 0;
    border-bottom: $bh solid $verde;
    border-radius: $bh / 2;
    overflow: hidden;
  }
}

.double-dot {
  display: inline-block;
  position: relative;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #222;
  &::after {
    content: "";
    display: block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: #222;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mapboxgl-popup-content {
  // border: 1px solid red;
  border-radius: 10px !important;
  padding: 3px 15px 3px !important;
}
.story-leg-info {
  // background-color: #c6f5d2;
}

// -----------------------------------------------------------------------------
// STORY SVG
// -----------------------------------------------------------------------------

// Newer

.svg-square-container {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  svg {
    width: 100%;
    height: 100%;
    display: block; /* avoid inline gaps */
  }
  .absolute-story-info {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    // background-color: rgba(red, 0.1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

// Older

div#svg-container {
  line-height: 0;
  svg#story-svg {
    path.land-boundary {
      fill: #f9f8ff;
    }
    path.leg-line {
      stroke: black;
      fill: none;
      &[data-line-type="wheels"] {
        stroke-dasharray: 2px;
      }
      &[data-line-type="train"] {
        stroke-dasharray: 4px;
      }
      &[data-line-type="water"] {
        stroke-dasharray: 2px 4px;
      }
      &[data-line-type="plane"] {
        stroke-dasharray: 2px 6px;
      }
      &[data-line-type="walking"] {
        stroke-dasharray: 4px 2px;
      }
      &[data-line-type="mixed"] {
        stroke-dasharray: 1px 3px;
      }
      &[data-line-type="unknown"] {
        stroke-dasharray: 6px 2px;
      }
    }
    circle.leg-dot {
      stroke: white;
      stroke-width: 1px;
      fill: black;
    }
  }
}

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------

nav#menu-header {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 400ms, padding 400ms;
  padding: 0;
  background-color: $verdino;
  &.top {
    background-color: $verdino;
    // padding: 7px 0;
  }
  .wrapper {
    height: $menu-h;
  }
  .wrapper-subtitle {
    height: 35px;
    padding-bottom: 20px;
    position: relative;
    top: -10px;
  }
  // .left {
  //   @include font-ser-l;
  //   font-weight: 700;
  // }
  .items {
    a.item {
      text-decoration-line: none;
      margin-left: 12px;
      @include font-sans-m;
      &.active,
      &:hover {
        color: inherit;
        text-decoration-line: underline;
      }
    }
  }
  a#header-low-a {
    margin-right: 3px;
    &:hover {
      color: grey;
      text-decoration-line: none;
    }
  }
}
#menu-xs {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: grey;
  padding: $menu-h 0;
  transition: right 400ms;
  @at-root body.menu-xs-open & {
    right: 0;
  }
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  a.item {
    // color: white;
    text-decoration-line: none;
    text-align: center;
    display: block;
    @include font-sans-m;
    // text-transform: uppercase;
    &.small {
      @include font-sans-m;
    }
  }
}

// ------------------------------------------------------------------------
// Page: story-tools
// Separate css
// ------------------------------------------------------------------------

body#story-tools {
  background-color: rgba(0, 0, 255, 0.1);
  background-color: #b8d4f0;
  .structure {
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .left-items {
      width: 50%;
      .leg-item {
        textarea {
          width: 100%;
          height: 200px;
          max-width: 100%;
          font-size: 8px;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .right-mapbox-preview {
      width: 50%;
      position: relative;
      #mapbox-container {
        position: fixed;
        width: 50%;
        height: 100%;
        #buttons-container {
          z-index: 2;
          // border: 1px solid red;
          position: absolute;
          top: 10px;
          right: 10px;
          max-width: 100%;
        }
      }
    }
  }
}

// ------------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------------

.container-fluid {
  // max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @include media-breakpoint-down(xs) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
